<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the users:</h2>
    <ul>
      <% userlist.forEach(function(user) { %>
        <li><%= user.first %>, <%=user.last%>, <%=user.userN%>, <%=user.email%> </li>
      <% }) %>
    </ul>
    </body>
</html>
